<%= form_with(scope: :session, local: true, url: sessions_path) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
  <%= form.label :password %>
  <%= form.password_field :password %>
  </div>
  <%= form.submit 'login'%>
<% end %>
