<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
    <h4 style="color: red;"><%= msg %></h4>
  <% end %>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </p>
  <p>
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, use_two_digit_numbers: true %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.select :status, [['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']]%>
  </p>
  <%= form.submit %>
<% end %>
