<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
    <h4 style="color: red;"><%= msg %></h4>
  <% end %>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <p>
    name:
    <%= form.text_field :name%>
  </p>
  <p>
    detail:
    <%= form.text_field :detail%>
  </p>
  <%= form.submit %>
<% end %>
