<h3 class='ml-4'>***のタスク一覧</h3>
<%= form_with(scope: :search, local: true, url: tasks_path, method: :get) do |form| %>
  <%= form.label :word, 'タスク名:', class:'ml-5' %>
  <%= form.text_field :word %>
  <%= form.label :status, 'ステータス:', class:'ml-5'%>
  <%= form.select :status, [['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']],
  include_blank: '選択してください'%>
  <%= form.submit '検索する', class:'ml-3' %>
<% end %>

<table class="table container my-3 mx-4">
  <thead>
    <tr>
      <th scope="col">タスク名</th>
      <th scope="col">詳しい内容</th>
      <th scope="col">
        <%= link_to '終了期限', tasks_path(sort_expired: @order) %>
      </th>
      <th scope="col">
        登録日時
      </th>
      <th scope="col">
        ステータス
      </th>
      <th scope="col">
        <%= link_to '優先順位', tasks_path(sort_priority: "true")%>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr class='task'>
      <th scope="row"><%= task.title %></th>
      <td><%= task.slice_detail %></td>
      <td><%= task.deadline.strftime("%Y-%m-%d-%H:%M") %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= task.status %></td>
      <td>
        <%= t("activerecord.enum.task.priority.#{task.priority}")%>
      </td>
      <td>
        <%= link_to '詳細', task_path(task.id), class: 'btn btn-primary' %>
        <%= link_to '編集', edit_task_path(task.id), class: 'btn btn-success' %>
        <%= link_to '削除', task_path(task.id), method: :delete, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks%>
