<%= form_with(scope: :search, local: true, url: tasks_path, method: :get) do |form| %>
  <%= form.text_field :word %>
  <%= form.submit '検索する' %>
<% end %>
<h2>タスク一覧</h2>
<%= link_to 'タスク一覧へ', tasks_path %>
<%= link_to '終了期限でソートする', tasks_path(sort_expired: "true") %>
<% @tasks.each do |task| %>
  <div class="task">
    <p>task: <%= task.title %></p>
    <p>detail: <%= task.detail %></p>
    <p>作成日時: <%= task.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    <p>終了期限: <%= task.deadline.strftime("%Y-%m-%d %H:%M") %></p>

    <p>
      <%= link_to '詳細', task_path(task.id) %>
      <%= link_to '編集', edit_task_path(task.id) %>
      <%= link_to '削除', task_path(task.id), method: :delete %>
    </p>
    <%= "_"*40 %>
  </div>
<% end %>
