<div class="jumbotron mx-auto" style="width: 90%;  margin-top: 60px;">
  <p class="display-4"><%= @task.title %></p>
  <p class="lead"><%= @task.detail %></p>
  <hr class="my-4">
  <p>
    ステータス: <%= @task.status %>
  </p>
  <p>
    優先度: <%= t("activerecord.enum.task.priority.#{@task.priority}")%>
  </p>
  <p>作成日時: <%= @task.created_at.strftime("%c") %></p>
  <p>終了期限: <%= @task.deadline.strftime("%c") %></p>
  <hr class="my-4">
  <div class="labels">
    <p>付いているラベル</p>
    <% @task.labels.each do |l| %>
      <p class='ml-2 p-2 badge badge-warning'><%= l.title %></p>
    <% end %>
  </div>
  <hr class="my-4">
  <div>
    <%= link_to '詳細', task_path(@task.id) %>
    <%= link_to '編集', edit_task_path(@task.id) %>
    <%= link_to '削除', task_path(@task.id), method: :delete %>
  </div>
</div>
