<p>task_name: <%= @task.name %></p>
<p>task_detail: <%= @task.detail %></p>
<div>
  <%= link_to '詳細', task_path(@task.id) %>
  <%= link_to '編集', edit_task_path(@task.id) %>
  <%= link_to '削除', task_path(@task.id), method: :delete %>
</div>
<%= "_"*40 %>
