<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h3 class="navbar-brand">Task_Management</h3>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'タスク登録', new_task_path, class: 'nav-link text-body'%>
        </li>
        <li class="nav-item">
          <%= link_to 'タスク一覧', tasks_path, class: 'nav-link text-body'%>
        </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', session_path(1),
            method: :delete, class: 'nav-link text-body'%>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'ログイン', new_session_path, class: 'nav-link text-body' %>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_path, class: 'nav-link text-body' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
