<!DOCTYPE html>
<html>
  <head>
    <title>EveryLeafApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <h4 style="color: green;"><%= flash[:notice] %></h4>
    <%= yield %>
  </body>
</html>
